<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <include resource="META-INF/logback-default.xml"/>
  <!-- <include resource="META-INF/logback-cloud.xml"/> -->

  <springProfile name="prod">
    <logger level="error" name="com.jerry.test" additivity="false">
      <appender-ref ref="FILE_DEBUG"/>
      <appender-ref ref="FILE_INFO"/>
    </logger>
  </springProfile>
  <springProfile name="dev">
    <logger level="debug" name="com.jerry.test" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="debug">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>
