<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jerry.test.service.mybatis.MyBatisExampleDao">

  <select id="countUser" resultType="int">
    select 1
  </select>
  <insert id="updateUser">
    insert into SYS_EXAMPLE (id,username,password,address,memo,create_time)values (#{username},#{password},#{address},#{memo})
  </insert>

</mapper>